html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-padding-top: 55px;
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    /* -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased; */
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    top: 10;
    padding-top: 55px;
}

#app-container {
    width: 100%;
    min-width: 280px;
    justify-content: center;
    padding-bottom: 0px;
    margin: auto;
    bottom: 0;
}

.main-content {
    top: 15;
    /* padding-top: 55px; */
}

.hero-container {
    height: 75vh;
    font-weight: 800;

    background-image: url("https://res.cloudinary.com/dooa4lvvv/image/upload/v1668028243/Southwells/Landing%20%28Carousel%29/sw-main-1-wide_rker0b.jpg");
    background-position: top;
    background-size: cover;
}

.hero-header {
    max-width: max-content;
    text-shadow: 1px 1px 2px #000000;
}

.section {
    max-width: 1400px;
}

.list-width {
    max-width: 1000px;
}

.navbar {
    top: 0;
    bottom: auto;
    transition: 0.2s ease-in;
    z-index: 100;
}

.brick-light-bg {
    background-color: #f3b193;
}

.mint-bg {
    background-color: #dfe7f2;
}

.blue-bg {
    background-color: #1f4066;
}

.nav-bg {
    background-color: white;
    /* opacity: 0.99; */
    transition: 0.5s ease-in;
}

.footer {
    width: 100%;
    min-height: 100px;
    background-color: #dfe7f2;
}

.knLogo {
    border-style: solid;
    border-color: #9070d5;
    border-width: 2px;
}

.kn-footer-width {
    min-width: 200px;
}

.banner-caption-top {
    margin-top: 50px;
    top: 0;
    bottom: auto;
}

.banner-caption-two {
    position: absolute;
    right: 100px;
    bottom: 120px;
    z-index: 98;
}

.nav-link {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    border-bottom: 2.5px solid transparent;
}

.nav-link:hover {
    border-bottom: 2.5px solid #1f4066;
    transition: 0.2s ease-in;
}

#toTopBtn {
    position: fixed;
    bottom: 110px;
    right: 0px;
    z-index: 98;
    padding: 21px;
    transition: 1.5s ease-in;
}

.banner-transition {
    transition: 1s;
}

.prop-highlights {
    min-width: 250px;
    max-width: 250px;
    /* height: 200px; */
}

.highlight-image-width {
    max-width: 400px;
}

.about-container {
    z-index: 95;
}

.hr-line-width {
    max-width: 1200px;
}

/* Map Section */

.map-section-col-width {
    min-width: 300px;
    max-width: 450px;
}

.highlight-image-width {
    min-width: 300px;
    max-width: 375px;
}

.contact-col {
    min-width: 250px;
}

/* .brands-col-width {
    max-width: 200px;
} */

.courtyard-container {
    max-width: 600px;
}

.brands-container-width {
    max-width: 1400px;
}

.details-section-col-width {
    min-width: 300px;
    max-width: 550px;
}
